<!doctype html>
<html>
<title>Hello from Flask</title>
<h1>Hello Sockets!</h1>
<button id="send_button">SEND MESSAGE TO SERVER</button>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port)
    var time = 'i have not time'
    socket.on('connect', function() {
        console.log("CONNECTED TO SERVER")
    })
    socket.on('get_moisture_value', function(message) {
    	socket.emit('update_moisture_value', JSON.stringify({
    		'device':'browser',
    		'value':'random value'
    	}) )
    })
</script>

<script type="text/javascript">
	(function(){
		var button = document.getElementById("send_button")
		button.onclick = function(){
			socket.emit('update_moisture_value', JSON.stringify({
	    		'device':'browser',
	    		'value':'random value'
    		}) )
		}
	})()
</script>

</html>